<div class="confirm-modal">
  <div class="modal-body">
    <div class="_message">Do you want to empty your cart?<br>This operation cannot be undone.</div>
    <div class="btn_group">
      <button
        (click)="clickYesHandler()"
        class="btn btn-rounded submit"
        title="Answer Yes"
        >
        YES
      </button>
      <button
        (click)="clickNoHandler()"
        class="btn btn-rounded cancel"
        title="Answer No"
        >
         NO
      </button>
    </div>
  </div>
</div>
