<div class="footer">
  <ul class="list-group">
    <a
      class="list-group-item"
      title="This is a link to navigate to the store information page."
      (click)="navigateToShopHandler()"
    >
      Store Information <i class="fas fa-chevron-right"></i>
    </a>
    <a
      class="list-group-item"
      title="This is a link to navigate to the compliance page."
      (click)="navigateToComplianceHandler()"
    >
      Compliance <i class="fas fa-chevron-right"></i>
    </a>
    <a
      class="list-group-item"
      title="This is a link to navigate to the privacy policy page."
      (click)="navigateToPrivacyHandler()"
    >
      Privacy Policy <i class="fas fa-chevron-right"></i>
    </a>
  </ul>
</div>
