.footer {
  ul {
    list-style: none;
  }

  padding: 0 0 200px;
  background: #f2f2f2;

  .list-group-item {
    background: #fcfcfc;
    padding: 20px 16px;
    font-size: 16px;
    color: #2e2621;
    border-bottom: #eae5e2 1px solid;
    border-radius: 0;
    position: relative;
    cursor: pointer;

    i {
      position: absolute;
      color: #717171;
      right: 16px;
      line-height: 1.7;
    }
  }
}
