@import 'variables';

.footer {
  ul {
    list-style: none;
  }

  padding: 0 0 200px;
  background: $lighter_gray_color;

  .list-group-item {
    background: $base_white_color;
    padding: 20px 16px;
    font-size: 16px;
    color: $base_font_color;
    border-bottom: $light_beige_color 1px solid;
    border-radius: 0;
    position: relative;
    cursor: pointer;

    i {
      position: absolute;
      color: $dark_gray_color;
      right: 16px;
      line-height: 1.7;
    }
  }
}
