@import 'variables';

.cart-product {
  padding: 16px 0;

  &:not(:last-of-type) {
    border-bottom: $medium_gray_color 1px dotted;
  }

  .product {
    display: flex;
    margin-bottom: 8px;

    ._left {
      cursor: pointer;
      width: 77px;
      margin-right: 8px;

      img {
        width: 100%;
        border-radius: 3px;
      }
    }

    ._right {
      flex-grow: 1;

      ._top {
        display: flex;

        ._name {
          width: 145px;
          margin-right: 12px;
          font-size: 16px;

          @media screen and (min-width: 600px) {
            width: 326px;
          }
        }

        ._quantity-btn {
          margin: auto auto 0;
          height: 26px;
          flex-grow: 1;
          display: flex;
          justify-content: space-between;
          color: $dark_gray_color;
          font-size: 18px;
          border: $light_beige_color 1px solid;
          border-radius: 16px;
          background: $base_white_color;
          line-height: 1.35;
          position: relative;

          .constraint-tooltip {
            color: $white_color;
            background: $base_font_color;
            top: -104px;
            position: absolute;
            left: -46px;
            padding: 12px;
            line-height: 1.4;
            font-size: 16px;
            width: 155px;
            z-index: 9999;
            border-radius: 8px;
            box-shadow: 0 8px 24px $tooltip_shadow_color;

            &::after {
              z-index: 10000;
              content: '';
              position: absolute;
              right: 0;
              bottom: -12px;
              left: 74px;
              width: 0;
              height: 0;
              margin: auto;
              border-style: solid;
              border-color: $base_font_color transparent transparent;
              border-width: 13px 13px 0;
            }

            /* Safari and Chrome */
            animation: fadeOutAnimation 0s ease-in 1s forwards;
          }

          button {
            cursor: pointer;
            color: $blue_link_color;
            margin: auto 7px;
            border: none;
            background: none;
          }
        }
      }

      ._bottom {
        display: flex;
        justify-content: space-between;
        font-size: 18px;
        font-weight: bold;

        ._remove {
          cursor: pointer;
          margin: auto 0 0 auto;
          font-size: 16px;
          text-align: right;
          color: $blue_link_color;
          font-weight: normal;
          border: none;
          background: none;
        }

        ._tax {
          font-size: 16px;
          color: $dark_gray_color;
          font-weight: normal;

          ._in {
            font-size: 14px;
          }
        }
      }
    }
  }
}

@keyframes fadeOutAnimation {
  to {
    width: 0;
    height: 0;
    overflow: hidden;
    display: none;
    z-index: 0;
  }
}
@keyframes fadeOutAnimation {
  to {
    width: 0;
    height: 0;
    visibility: hidden;
    display: none;
    z-index: 0;
  }
}
