.cart-product {
  padding: 16px 0;

  &:not(:last-of-type) {
    border-bottom: #d1d1d1 1px dotted;
  }

  .product {
    display: flex;
    margin-bottom: 8px;

    ._left {
      cursor: pointer;
      width: 77px;
      margin-right: 8px;

      img {
        width: 100%;
        border-radius: 3px;
      }
    }

    ._right {
      flex-grow: 1;

      ._top {
        display: flex;

        ._soldout {
          cursor: pointer;
          margin: auto 0 0 auto;
          font-size: 14px;
          text-align: right;
          color: #0080de;
        }

        ._name {
          width: 145px;
          margin-right: 12px;
          font-size: 16px;

          @media screen and (min-width: 600px) {
            width: 326px;
          }
        }

        ._quantity-btn {
          margin: auto auto 0;
          height: 26px;
          flex-grow: 1;
          display: flex;
          justify-content: space-between;
          color: #717171;
          font-size: 18px;
          border: #eae5e2 1px solid;
          border-radius: 16px;
          background: #fcfcfc;
          line-height: 1.35;
          position: relative;

          .constraint-tooltip {
            color: #fff;
            background: #2e2621;
            top: -104px;
            position: absolute;
            left: -46px;
            padding: 12px;
            line-height: 1.4;
            font-size: 16px;
            width: 155px;
            z-index: 9999;
            border-radius: 8px;
            box-shadow: 0 8px 24px #b5b5b580;

            &::after {
              z-index: 10000;
              content: '';
              position: absolute;
              right: 0;
              bottom: -12px;
              left: 74px;
              width: 0;
              height: 0;
              margin: auto;
              border-style: solid;
              border-color: #2e2621 transparent transparent;
              border-width: 13px 13px 0;
            }

            /* Safari and Chrome */
            animation: fadeOutAnimation 0s ease-in 1s forwards;
          }

          i {
            cursor: pointer;
            color: #0080de;
            width: 10px;
            margin: auto 10px;
          }
        }
      }

      ._bottom {
        display: flex;
        justify-content: space-between;
        font-size: 18px;
        font-weight: bold;

        ._remove {
          cursor: pointer;
          margin: auto 0 0 auto;
          font-size: 16px;
          text-align: right;
          color: #0080de;
          font-weight: normal;
        }

        ._tax {
          font-size: 16px;
          color: #717171;
          font-weight: normal;

          ._in {
            font-size: 14px;
          }
        }
      }
    }
  }
}

@keyframes fadeOutAnimation {
  to {
    width: 0;
    height: 0;
    overflow: hidden;
    display: none;
    z-index: 0;
  }
}
@keyframes fadeOutAnimation {
  to {
    width: 0;
    height: 0;
    visibility: hidden;
    display: none;
    z-index: 0;
  }
}
