<div class="cart-product"
     *ngIf="storeProduct.store_product_id"
>
  <ng-container>
    <div class="product">
      <div class="_left"
           (click)="navigateToProduct()"
      >
        <img
             [src]="storeProduct.product_images
             && storeProduct.product_images[0].small
             ? getImageUrl(storeProduct.product_images[0].small) :  '/assets/product/no-image-small.jpg'"
             onerror="this.src='/assets/product/no-image-small.jpg'; this.removeAttribute('onerror'); this.removeAttribute('onload');"
             onload="this.removeAttribute('onerror'); this.removeAttribute('onload');"
             class="card-img-top"
             alt="product-image"
        />
      </div>
      <div class="_right">
        <div class="_top">
          <div class="_name">
            {{getProductDisplayLabel(storeProduct.producing_area,storeProduct.product_name,storeProduct.brand)}}
          </div>

          <div class="_quantity-btn"
          >
            <div class="constraint-tooltip"
                 *ngIf="displayConstraintTooltip"
                 (click)="hideConstraintTooltip()"
                 #constraintTooltip
            >
              You can only purchase up to {{storeProduct.constraint_max}} items.
            </div>

            <i class="fas fa-minus fa-xs"
               (click)="removeCart($event)"
            ></i>
            {{cartItem.quantity}}
            <i class="fas fa-plus fa-xs"
               (click)="addCart($event)"
            ></i>
          </div>
        </div>
        <div class="_bottom">
          <div>{{storeProduct.store_price | currency : 'JPY': true}}
            <span class="_tax">{{calculateTaxedValue(storeProduct.store_price) | currency : 'JPY': true}}<span class="_in">/with tax</span></span>
          </div>
          <div (click)="removeAllFromCart()" class="_remove">Remove</div>
        </div>
      </div>
    </div>
  </ng-container>
</div>
