<div class="cart-product" *ngIf="storeProduct.store_product_id">
  <ng-container>
    <div class="product">
      <a
        class="_left"
        (click)="navigateToProduct()"
        title="This is a button to navigate to the product detail page."
      >
        <img
          [src]="
            storeProduct.product_images && storeProduct.product_images[0].small
              ? getImageUrl(storeProduct.product_images[0].small)
              : '/assets/product/no-image-small.jpg'
          "
          onerror="this.src='/assets/product/no-image-small.jpg'; this.removeAttribute('onerror'); this.removeAttribute('onload');"
          onload="this.removeAttribute('onerror'); this.removeAttribute('onload');"
          class="card-img-top"
          alt="product-image"
        />
      </a>
      <div class="_right">
        <div class="_top">
          <div class="_name">
            {{
              getProductDisplayLabel(
                storeProduct.producing_area,
                storeProduct.product_name,
                storeProduct.brand
              )
            }}
          </div>

          <div class="_quantity-btn">
            <div
              class="constraint-tooltip"
              *ngIf="displayConstraintTooltip"
              (click)="hideConstraintTooltip()"
              #constraintTooltip
            >
              You can only purchase up to
              {{ storeProduct.constraint_max }} items.
            </div>

            <button
              class="fas fa-minus fa-xs"
              (click)="removeCart($event)"
              title="This is a button to remove one item from your cart."
            ></button>
            {{ cartItem.quantity }}
            <button
              class="fas fa-plus fa-xs"
              (click)="addCart($event)"
              title="This is a button to add one item to your cart."
            ></button>
          </div>
        </div>
        <div class="_bottom">
          <div>
            {{ storeProduct.store_price | currency : 'JPY' : 'symbol' }}
            <span class="_tax"
              >{{
                calculateTaxedValue(storeProduct.store_price)
                  | currency : 'JPY' : 'symbol'
              }}<span class="_in">/with tax</span></span
            >
          </div>
          <button
            (click)="removeAllFromCart()"
            class="_remove"
            title="This button deletes all the specific number of items in the cart."
          >
            Remove
          </button>
        </div>
      </div>
    </div>
  </ng-container>
</div>
