@import 'variables';

mdb-carousel {
  .carousel {
    .carousel-indicators {
      margin-bottom: 8px;

      button {
        opacity: 1;
        height: 0.4rem;
        width: 0.4rem;
        border-radius: 50%;
        border: 1px solid $white_color;
        background-color: $white_color;
        box-shadow: 0 0 3px $carousel_indicator_shadow_color;
        margin: auto 4px;
      }

      .active {
        border: 1px solid $white_color;
        background-color: $shop_theme_color;
      }
    }
  }

  .carousel-control-prev,
  .carousel-control-next {
    width: 18%;
    opacity: 0.8;

    .carousel-control-prev-icon,
    .carousel-control-next-icon {
      text-align: center;
      background: rgb(242 242 242 / 90%);
      box-shadow: $carousel_control_shadow_color 0 0 4px;
      color: $dark_gray_color;
      border-radius: 80%;
      font-size: 16px;
      font-weight: bold;
      padding: 7px 14px;
      width: 40px;
      height: 40px;

      &::after {
        margin: auto 2px auto 0;
        vertical-align: middle;
        font-size: 1rem;
        font-weight: 600;
      }
    }

    .carousel-control-next-icon {
      &::after {
        margin: auto 0 auto 2px;
      }
    }
  }
}
