/* login & signup header */
.header {
  position: relative;

  ._back {
    position: absolute;
    left: 24px;
  }

  ._skip {
    color: $blue_link_color;
    position: absolute;
    right: 16px;
    font-size: 14px;
  }

  text-align: center;
  font-weight: bold;
  font-size: 16px;
  padding: 16px;
  margin-bottom: 32px;
  border-bottom: $header_shadow_color 1px solid;
  box-shadow: 0 2px 6px $header_shadow_color;
}
