/* input form */
@import 'variables';

input {
  border: initial;

  &::placeholder {
    color: $gray_color;
    font-size: 16px;
  }
}

.form-outline .form-control ~ .form-notch div {
  border: none;
}

.form-group {
  margin-bottom: 24px;

  .form-label {
    font-size: 14px;
    font-weight: bold;
    color: $base_font_color;
    margin-bottom: 6px;
  }

  ._req {
    background: $input_requirement_color;
    border-radius: 3px;
    font-size: 12px;
    padding: 2px;
    margin-left: 6px;
    color: $white_color;
    font-weight: bold;
  }

  ._input-form {
    position: relative;

    input {
      background-color: $light_gray_color;
      border-radius: 8px;
      padding: 12px 0 12px 16px;
      margin-bottom: 8px;

      &._inputFormError {
        background: $important_norice_color;
        outline: $input_requirement_color 1px solid;
      }
    }

    ._display {
      color: $blue_link_color;
      font-size: 14px;
      position: absolute;
      right: 16px;
      top: 13px;
      border: none;
      background: transparent;
    }
  }

  ._hint {
    color: $dark_gray_color;
    font-size: 14px;
  }

  ._forget {
    color: $blue_link_color;
    text-align: right;
    font-size: 14px;
  }

  ._error {
    font-size: 14px;
    color: $input_error_color;
  }
}

.errorToast {
  font-size: 14px;
  color: $important_norice_font_color;
  padding: 16px;
  background: $important_norice_color;
  border-radius: 3px;
  margin-bottom: 32px;
  text-align: center;
}

.form-control.select-input {
  padding: 14px;
}

/* checkbox */
input[type='checkbox'] {
  width: 21px;
  height: 21px;
  appearance: none;
  outline: $medium_gray_color 2px solid;
  background: $base_white_color;
  border-radius: 6px;
  margin: 5px;

  & + span {
    position: relative;
  }

  &:checked {
    background: $checkbox_checked_color;
  }

  &:checked + span::before {
    content: '';
    position: absolute;
    display: block;
    box-sizing: border-box;
    width: 11px;
    height: 7px;
    margin-top: -8px;
    top: 58%;
    left: -23px;
    transform: rotate(-45deg);
    border-bottom: 2px solid;
    border-left: 2px solid;
    border-color: $white_color;

    @media screen and (max-width: 360px) {
      /* 360pxまでの幅の場合 */
      top: 40%;
    }
  }
}
