/* stepper-modal */
.stepper-horizontal-content-container {
  padding: 0;
}

.stepper-mobile-head {
  display: none;
}

.stepper-mobile-footer {
  display: none;
}

.stepper.stepper-mobile {
  bottom: 104px;
  justify-content: space-evenly;
  padding: 0 128px;
}

.stepper-head-icon {
  background-color: #d1d1d1;
}

.stepper-active .stepper-head-icon {
  background-color: $base_font_color;
}

.stepper-completed .stepper-head-icon {
  background-color: #d1d1d1;
}

.stepper-head:hover {
  background-color: transparent;
}
