
// base font
$base_font: "Noto Sans CJK JP", "Roboto", "メイリオ", "Meiryo", verdana, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Osaka, "ＭＳ Ｐゴシック", "MS PGothic", Sans-Serif;

// base text color
$base_font_color: #2E2621;

// select background color when hovered
$select_background_color: #E8F2FA;

// shop theme color
// $shop_theme_color : #B9A078;
$shop_theme_color :#3AABD2 // rgb(58, 171, 210)
