// Not complete, but I would like to consolidate and manage color codes.

// base font
$base_font: 'Noto Sans CJK JP', 'Roboto', 'メイリオ', 'Meiryo', verdana,
  'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', osaka, 'ＭＳ Ｐゴシック',
  'MS PGothic', sans-serif;

// base text color
$base_font_color: #2e2621;

// select background color when hovered
$select_background_color: #e8f2fa;

// shop theme color
$shop_theme_color: #3aabd2; // rgb(58, 171, 210)
