// Not complete, but I would like to consolidate and manage color codes.#fff

// base font
$base_font: 'Noto Sans CJK JP', 'Roboto', 'メイリオ', 'Meiryo', verdana,
  'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', osaka, 'ＭＳ Ｐゴシック',
  'MS PGothic', sans-serif;

// base text color
$base_font_color: #2e2621;

// shop theme color
$shop_theme_color: #3aabd2; // rgb(58, 171, 210)
// base white color
$base_white_color: #fcfcfc;

// basic colors
$white_color: #fff;
$light_beige_color: #eae5e2;
$lighter_gray_color: #f2f2f2;
$light_gray_color: #eaeaea;
$medium_gray_color: #d1d1d1;
$gray_color: #b7b7b7;
$dark_gray_color: #717171;

// notice colors
$important_norice_color: #fdecef;
$important_norice_font_color: #e50721;
$announcement_font_color: #d15f00;
$normal_notice_color: #f2fae8;
$normal_notice_font_color: #047100;
$toast_shadow_color: #90867f3d;
$tooltip_shadow_color: #b5b5b580;

// detail colors
$input_error_color: #e82212;
$input_requirement_color: #eb5545;
$discount_tag_color: #dc1125;
$bule_submit_button_color: #017098;
$blue_link_color: #0080de;
$checkbox_checked_color: #00abde;
$stockout_background_color: #d8d8d8;
$carousel_indicator_shadow_color: #3c3a3a;
$carousel_control_shadow_color: #00000080;
$header_shadow_color: #90867f1f;
