@import 'variables';

.section-header {
  @media screen and (min-width: 600px) {
    max-width: 600px;
    margin: 0 auto;
  }

  display: flex;
  justify-content: space-between;
  padding: 8px 16px;
  vertical-align: center;
  top: 0;
  position: fixed;
  z-index: 100;
  width: 100%;
  background: $shop_theme_color;

  ._back {
    margin: auto 0;
    color: #eaeaea;
    cursor: pointer;
  }

  ._search {
    position: relative;
    margin: auto;

    ._button-area {
      display: block;
      padding: 8px 80px 8px 12px;
      border-radius: 18px;
      background: #eaeaea;
      font-size: 14px;
      color: #b7b7b7;
      font-weight: normal;
      cursor: pointer;

      i {
        font-size: 15px;
        margin-right: 4px;
        color: #b7b7b7;
      }
    }
  }

  ._menu {
    width: 28px;
    margin: auto 0 auto 8px;
    color: #eaeaea;
    cursor: pointer;
    border: none;
    background: none;
  }
}

.section {
  background: #f2f2f2;
  margin-top: 57px;
  padding-bottom: 50px;

  .products-area {
    background: #fcfcfc;
    margin-bottom: 12px;
    padding: 16px 10px 12px;

    ._ttl {
      font-size: 16px;
      font-weight: bold;
      margin-bottom: 12px;
    }
  }
}
