<div class="section-header" [class.isScrollDown]="isScrollDown">

  <div class="_back"
       (click)="backToTopHandler()"
  >
    <i class="fas fa-chevron-left fa-lg _back"
       (click)="backToTopHandler()"
    ></i>
  </div>
  <div class="_search">
    <div class="_button-area"
         (click)="navigateToSearchHandler()"
    >
      <i class="fas fa-search"></i>Search
    </div>
  </div>
  <div (click)="navigateToMypageHandler()"
      title="This is a munu icon on the header to navigate the my page."
      class="_menu ga-click-hamburgerMenu">
    <i class="fas fa-bars fa-lg"></i>
  </div>
</div>

<div class="section">
  <div class="sub-category-area">
    <ng-container>
      <div class="_ttl"
      >All Products
      </div>
      <div class="card-products-area row row-cols-3 row-cols-md-3 g-3">
        <ng-container *ngFor="let product of productList$ | async ; index as i" >
          <app-product-card
            [storeProduct]="product"
            [isLoggedIn]="isLoggedIn$ | async"
            [productViewImageType]="2"
            (clickPlusHandler)="clickPlusHandler($event)"
            (clickMinusHandler)="clickMinusHandler($event)"
          ></app-product-card>
        </ng-container>
      </div>
    </ng-container>
  </div>


  <!-- <ng-container *ngIf="isLoggedIn$ | async">
    <div class="cart-area" *ngIf="cartPriceInfo.numOfStoreProducts">
      <div class="btn_group">
        <button
          class="btn btn-rounded submit"
          (click)="cartBtnHandler()"
        >
          <img src="./assets/section/common_icon_cart@2x.png" alt="common_icon_cart">
          <span class="_quantity">{{cartPriceInfo.numOfStoreProducts}}</span>
          <span class="_ten">点</span>
          <span class="_price">{{cartPriceInfo.totalProductPriceWithTax | currency : 'JPY': true}}</span>
          <span class="_tax-in">(税込)</span>
        </button>
      </div>
    </div>
  </ng-container> -->
</div>
