<app-common-header headerTitle="Purchase History Product List" backUrl="/shop-top"></app-common-header>

<div class="pastitem">
  <div *ngIf="productList.length===0; else showFavoriteList" class="not-found-area">
    <div class="_ttl">There are no products in your purchase history.</div>
    <div class="_img-area">
      <img src="/assets/mypage/purchasehistory_img_cart@2x.png" alt="not-found">
    </div>
    <div>Once you have purchased an item, you will be able to purchase it here.</div>
  </div>
  <ng-template  class="sub-category-area" #showFavoriteList>

    <div class="card-products-area row row-cols-3 row-cols-md-3 g-3">
      <ng-container *ngFor="let product of productList; index as i" >
        <app-product-card
          [storeProduct]="product"
          [isLoggedIn]="isLoggedIn"
          [isBackgroundTransparent]="true"
          [productViewImageType]="1"
          (clickPlusHandler)="clickPlusHandler($event)"
          (clickMinusHandler)="clickMinusHandler($event)"
        ></app-product-card>
      </ng-container>
    </div>
  </ng-template>
  <ng-container *ngIf="isLoggedIn">
    <div class="cart-area" *ngIf="cartPriceInfo.numOfStoreProducts">

      <div class="btn_group">
        <button
          class="btn btn-rounded submit"
          (click)="cartBtnHandler()"
        >
          <img src="./assets/section/common_icon_cart@2x.png" alt="common_icon_cart">
          <span class="_quantity">{{cartPriceInfo.numOfStoreProducts}}</span>
          <span class="_ten">pieces</span>
          <span class="_price">{{cartPriceInfo.totalProductPriceWithTax | currency : 'JPY': true}}</span>
          <span class="_tax-in">/with tax</span>
        </button>
      </div>
    </div>
  </ng-container>
</div>
