<!-- <app-custom-header headerTitle="ログイン"></app-custom-header> -->

<div class="signup">
  <form [formGroup]="form" >
    <!-- <div class="errorToast" *ngIf="isError" #errorMessageContent>
      {{createMessageElement(errorMessage)}}
    </div> -->
     <div class="form-group" >
        <label for="form_email" class="form-label" >Email</label>
        <mdb-form-control class="_input-form" >
           <input formControlName="form_email" id="form_email"
                  placeholder="**********@example.com"
                  (change)="validateMailError()" [class._inputFormError]="isMailError" class="form-control"
                  mdbInput
                  type="text"
           />
        </mdb-form-control>
       <div *ngIf="isMailError" class="_error">{{mailErrorMessage}}</div>

     </div>

     <div class="form-group" >
        <label for="form_password" class="form-label" >Password</label>
        <mdb-form-control class="_input-form" >
          <!-- <input formControlName="form_password" id="form_password"
                 placeholder="パスワード"
                 [type]="hide ? 'password' : 'text'"
                 (change)="validatePasswordError()"
                 [class._inputFormError]="isPasswordError"
                 class="form-control"
                 mdbInput
          /> -->
          <input formControlName="form_password" id="form_password"
                 placeholder="Password"
                 [type]="hide ? 'password' : 'text'"
                 class="form-control"
                 mdbInput
          />
          <button class="_display"
                  *ngIf="hide"
                  (click)="hide = !hide"
          >display</button>
          <button (click)="hide = !hide"
                  *ngIf="!hide"
                  class="_display"
          >hide</button>
        </mdb-form-control>
       <!-- <div *ngIf="isPasswordError" class="_error">{{passwordErrorMessage}}</div> -->
     </div>

    <div class="btn_group">
      <button
         (click)="formOnClickSignupHandler()"
         data-test="login-btn"
         class="btn btn-rounded submit" >
         Register
      </button>
      <div class="_signup-area">
        Already have an account?
        <a class="_signup" routerLink="/login">Log in</a>
      </div>
    </div>
  </form>
</div>
