<app-common-header headerTitle="Register"></app-common-header>

<div class="signup">
  <form [formGroup]="form" >
    <div class="errorToast" *ngIf="isError">
      {{errorMessage}}
    </div>
     <div class="form-group" >
        <label for="form_email" class="form-label" >Email</label>
       <span class="_req">required</span>
        <mdb-form-control class="_input-form" >
           <input formControlName="form_email" id="form_email" type="text"
                  (change)="validateMailError()"
                  placeholder="**********@example.com"
                  mdbInput
                  class="form-control"
                  [class._inputFormError]="isMailError"
           />
        </mdb-form-control>
       <div class="_error" *ngIf="isMailError">{{mailErrorMessage}}</div>
     </div>
     <div class="form-group">
       <label for="form_password" class="form-label" >Password</label>
       <span class="_req">required</span>
       <mdb-form-control class="_input-form" >
           <input formControlName="form_password"
                  id="form_password"
                  [type]="hide1 ? 'password' : 'text'"
                  (change)="validatePasswordError()"
                  placeholder="Password"
                  mdbInput
                  class="form-control"
                  [class._inputFormError]="isPasswordError"
           />
          <button (click)="hide1 = !hide1"
                 *ngIf="hide1"
                 class="_display">display
         </button>
         <button (click)="hide1 = !hide1"
                 *ngIf="!hide1"
                 class="_display">hide
         </button>
        </mdb-form-control>
       <div *ngIf="passwordEmptyErrorMessage" class="_error ga-caution-register-entry-password">{{passwordEmptyErrorMessage}}</div>
       <div *ngIf="passwordLengthErrorMessage" class="_error ga-caution-register-entry-password">{{passwordLengthErrorMessage}}</div>
       <div *ngIf="passwordValidErrorMessage" class="_error ga-caution-register-entry-password">{{passwordValidErrorMessage}}</div>
       <div *ngIf="passwordExclusionErrorMessage" class="_error ga-caution-register-entry-password">{{passwordExclusionErrorMessage}}</div>
       <div *ngIf="passwordMailErrorMessage" class="_error ga-caution-register-entry-password">{{passwordMailErrorMessage}}</div>
       <div class="_hint">10-20 characters with a upper case, lower case, number, and symbol<br>Available symbols !@#%^&*/_?$¥-`˜()+=&#123;&#125;[]\|;"'<>,.</div>
     </div>

     <div class="form-group" >
       <label for="form_confirm_password" class="form-label" >Confirm Password</label>
       <span class="_req">required</span>
       <mdb-form-control class="_input-form" >
           <input formControlName="form_confirm_password"
                  id="form_confirm_password"
                  [type]="hide2 ? 'password' : 'text'"
                  (change)="validateConfirmPasswordError()"
                  placeholder="Password"
                  mdbInput
                  class="form-control"
                  [class._inputFormError]="isConfirmPasswordError"
           />
         <button (click)="hide2 = !hide2"
                 *ngIf="hide2"
                 class="_display">display
         </button>
         <button (click)="hide2 = !hide2"
                 *ngIf="!hide2"
                 class="_display">hide
         </button>
        </mdb-form-control>
       <div class="_error" *ngIf="isConfirmPasswordError">{{conformPasswordErrorMessage}}</div>
     </div>

    <div class="form-group" >
      <div class="_agreement-title">Terms of Use, Privacy Policy<span class="_req">required</span></div>
      <label for="form_confirm_policy" class="_label" [class._redBackground]="isAgreementError">
        <input
          id="form_confirm_policy" class="form-label" type="checkbox"
               (change)="validateAgreementError($event)"
        />
        <span class="_agreement"  >
          I agree to the
          <span (click)="navigateToTermsHandler()"
                class="_tos"
          >
          Terms of Use</span> and <span (click)="navigateToPolicyHandler()"
                class="_policy">Privacy Policy</span>
        </span>
      </label>
      <div *ngIf="isAgreementError" class="_error ga-caution-register-entry-check">{{agreementErrorMessage}}</div>
    </div>

    <div class="btn_group">
      <button
         (click)="formOnClickSignupHandler()"
         data-test="login-btn"
         [disabled]="isDisabled"
         class="btn btn-rounded submit" >
         Register
      </button>
      <div class="_signup-area">
        Already have an account?
        <a class="_signup" routerLink="/login">Log in</a>
      </div>
    </div>
  </form>
</div>
