@import 'variables';

.signup {
  margin: 0 16px;

  ._agreement-title {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 8px;
  }

  ._label {
    display: flex;
    border-bottom: 8px;

    &._redBackground {
      background: $important_norice_color;
      margin: 0 -16px;
      padding: 0 16px;
    }

    ._agreement {
      font-size: 14px;
      margin: auto 0 auto 2px;

      ._tos,
      ._policy {
        color: $blue_link_color;
      }
    }
  }

  .btn_group {
    button {
      width: 100%;
      padding: 16px 0;
      font-size: 16px;
    }

    .submit {
      font-weight: bold;
      color: $white_color;
      background: linear-gradient(
        to left,
        $shop_theme_color 50%,
        $bule_submit_button_color
      );
      background: linear-gradient(
        to right,
        $shop_theme_color 50%,
        $bule_submit_button_color
      );
      margin: 32px auto;
    }

    ._signup-area {
      text-align: center;
      font-size: 14px;

      ._signup {
        color: $blue_link_color;
      }
    }
  }
}

.form-group {
  margin-bottom: 24px;

  .form-label {
    font-size: 14px;
    font-weight: bold;
    color: $base_font_color;
    margin-bottom: 6px;
  }

  ._input-form {
    position: relative;

    ._display {
      color: $blue_link_color;
      font-size: 14px;
      position: absolute;
      right: 16px;
      top: 13px;
      border: none;
      background: transparent;
    }
  }
}
