@import "variables";
.signup{
  margin: 0 16px;

  ._agreement-title{
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 8px;
  }
  ._label {
    display: flex;
    border-bottom: 8px;
    &._redBackground{
      background: #FDECEF;
      margin: 0 -16px;
      padding: 0 16px;
    }
    ._agreement{
      font-size: 14px;
      margin: auto 0px auto 2px;
      ._tos,._policy{
        color: #0080DE;
      }
    }
  }

  .btn_group {
    button {
      width: 100%;
      padding: 16px 0px;
      font-size: 16px;
    }
    .submit {
      font-weight: bold;
      color: #fff;

      // For black version
      // background: -moz-linear-gradient(left, #393534 50%, #555555);
      // background: -webkit-linear-gradient(left, #393534 50%, #555555);
      // background: linear-gradient(to right, #393534 50%, #555555);
      background: -moz-linear-gradient(left, $shop_theme_color 50%, #017098);
      background: -webkit-linear-gradient(left, $shop_theme_color 50%, #017098);
      background: linear-gradient(to right, $shop_theme_color 50%, #017098);
      margin: 32px auto 32px;
    }
    ._signup-area{
      text-align: center;
      font-size: 14px;
      ._signup{
        color: #0080DE;
      }
    }
  }
}

.form-group{
  margin-bottom: 24px;
 .form-label{
   font-size: 14px;
   font-weight: bold;
   color: #2E2621;
   margin-bottom:6px;
 }
  ._input-form {
    position: relative;

    ._display {
      color: #0080DE;
      font-size: 14px;
      position: absolute;
      right: 16px;
      top: 13px;
      border: none;
      background: transparent;
    }
  }
  ._forget{
    color: #0080DE;
    text-align: right;
    font-size: 14px;
  }
}

