@import 'variables';

.toast {
  background: $normal_notice_color;
  color: $normal_notice_font_color;
  box-shadow: 0 8px 24px $toast_shadow_color;
  font-weight: bold;
  font-size: 16px;
  padding: 12px;
  position: absolute;
  width: 245px;
  right: 12px;
  bottom: 95px;

  @media screen and (min-width: 600px) {
    right: 2rem;
  }
  @media screen and (min-width: 700px) {
    right: 8rem;
  }
  @media screen and (min-width: 800px) {
    right: 10rem;
  }
  @media screen and (min-width: 900px) {
    right: 13rem;
  }
  @media screen and (min-width: 1000px) {
    right: 15rem;
  }
  @media screen and (min-width: 1200px) {
    right: 22rem;
  }
  @media screen and (min-width: 1400px) {
    right: 28rem;
  }
  @media screen and (min-width: 1500px) {
    right: 31rem;
  }
  @media screen and (min-width: 1600px) {
    right: 34rem;
  }
  @media screen and (min-width: 1700px) {
    right: 35rem;
  }

  .toast-body {
    background: $normal_notice_color;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    padding: 0;
    display: flex;

    .left-body {
      width: 65px;
      min-width: 65px;
      margin-right: 10px;

      img {
        width: 100%;
        border-radius: 5px;
      }
    }

    .right-body {
      color: $base_font_color;

      .title {
        color: $normal_notice_font_color;
      }
    }
  }
}
