<div
  class="toast"
  role="alert"
  aria-live="assertive"
  aria-atomic="true"
  (click)="this.close()"
  title="This is the area to close the toast."
>
  <div class="toast-body">
    <div class="left-body">
      <img [src]="productImage" alt="product-image">
    </div>
    <div class="right-body">
      <div class="title">
        Added to cart!
      </div>
      <div class="product-name">
        <span *ngIf="produceArea">
          {{produceArea}}<br>
        </span>
        {{productName}} {{productBrand}}
      </div>
    </div>
  </div>
</div>

