<div class="mypage-cover">
  <div class="mypage-header">
    <div class="_ttl">
      My Page
    </div>
    <div class="_right">
      <div *ngIf="currentUser" class="_logout" (click)="logoutHandler()" >
        <div class="_button-area"
          title="This is a logput button on the header."
        >
          logout
        </div>
      </div>
      <button (click)="handleBack()" aria-label="Close" class="btn-close"
              type="button"
      ></button>
  </div>
  </div>

  <div class="mypage">
    <div *ngIf="currentUser" class="account-area">
      <div class="_left">
        <div class="_icon">
          <img alt="userIcon" [src]="currentUser.photoURL" >
        </div>
      </div>
      <div class="_right">
        <div class="_name">
          <span>Welcome, <span class="_value">{{currentUser.displayName}}</span></span>
        </div>
        <div class="_info">
          EmailVerified:
          <span class="_value">{{currentUser.emailVerified}}</span>
          <div class="_note" *ngIf="!currentUser.emailVerified">*Please verify your email</div>
        </div>
        <div class="_info">
          LastLogin:
        <span class="_value">{{currentUser.metadata.lastSignInTime ?? '' | date: 'dd/MM/yyyy hh:mm:ss'}}</span>
        </div>
      </div>
    </div>
    <div *ngIf="!currentUser" class="require-signup-area">
      <div class="_message">
        Please register your account!
      </div>
      <div class="_buttons">
        <button (click)="this.locationService.navigateTo3_1()"
                class="_signup"
        >Register</button>
        <button (click)="loginHandler()"
                class="_login"
        >Log In</button>
      </div>
    </div>

    <div class="menu-area">
      <div class="_ttl">Search Products</div>
      <ul class="list-group">
        <li class="list-group-item">
          Categories <i class="fas fa-chevron-right"></i></li>
        <li (click)="navigateToFavoriteHandler()" class="list-group-item">
          Favorites <i class="fas fa-chevron-right"></i>
        </li>
        <li (click)="navigateToPastitemHandler()" class="list-group-item">
          Purchase History <i class="fas fa-chevron-right"></i>
        </li>
      </ul>
    </div>

    <div class="menu-area">
      <div class="_ttl">Others</div>
      <ul class="list-group">
        <li (click)="navigateToCampaignHandler()"
            class="list-group-item"
        >Campaigns <i class="fas fa-chevron-right"></i></li>
        <li (click)="navigateToFaqHandler()"
            class="list-group-item"
        >FAQ <i class="fas fa-chevron-right"></i></li>
        <li (click)="navigateToTermsHandler()"
            class="list-group-item"
        >Compliance <i class="fas fa-chevron-right"></i></li>
        <li (click)="navigateToPolicyHandler()"
            class="list-group-item"
        >Privacy Policy <i class="fas fa-chevron-right"></i></li>
      </ul>
    </div>
  </div>
</div>
