<div class="mypage-cover">
  <div class="mypage-header">
    <div class="_ttl">My Page</div>
    <div class="_right">
      <button
        *ngIf="currentUser.uid"
        class="_logout"
        (click)="logoutHandler()"
        title="This is a button to execute logout."
      >
        <div class="_button-area">logout</div>
      </button>
      <a
        [routerLink]="links[1_1]"
        class="btn-close"
        type="button"
        title="This is a link to navigate to the top page."
        aria-label="This is a link to navigate to the top page."
      ></a>
    </div>
  </div>

  <div class="mypage">
    <div *ngIf="currentUser.uid" class="account-area">
      <div class="_left">
        <div class="_icon">
          <a
            [href]="this.currentUser.photoURL"
            target="_blank"
            rel="noopener noreferrer"
            title="This is a link to move to the user icon image published by Multiavatar API.."
            aria-label="This is a link to move to the user icon image published by Multiavatar API."
          >
            <img alt="user-icon" [src]="currentUser.photoURL" />
          </a>
        </div>
      </div>
      <div class="_right">
        <div class="_name">
          <span
            >Welcome,
            <span class="_value">{{ currentUser.displayName }}</span></span
          >
        </div>
        <div class="_info">
          EmailVerified:
          <span class="_value">{{ currentUser.emailVerified }}</span>
          <div class="_note" *ngIf="!currentUser.emailVerified">
            *Please verify your email
          </div>
        </div>
        <div class="_info">
          LastLogin:
          <span class="_value">{{
            currentUser.metadata && (currentUser.metadata.lastSignInTime ?? '')
              | date : 'dd/MM/yyyy hh:mm:ss'
          }}</span>
        </div>
      </div>
    </div>
    <div *ngIf="!currentUser.uid" class="require-signup-area">
      <div class="_message">Please register your account!</div>
      <div class="_buttons">
        <a
          [routerLink]="links[1_5]"
          title="This is a link to navigate to the signup page."
          aria-label="This is a link to navigate to the signup page."
          class="_signup"
        >
          Register
        </a>
        <a
          [routerLink]="links[1_4]"
          title="This is a link to navigate to the login page."
          aria-label="This is a link to navigate to the login page."
          class="_login"
        >
          Log In
        </a>
      </div>
    </div>

    <div class="menu-area">
      <div class="_ttl">Search Products</div>
      <ul class="list-group">
        <a class="list-group-item">
          Categories <i class="fas fa-chevron-right"></i>
        </a>
        <a
          [routerLink]="links[3_2]"
          class="list-group-item"
          title="This is a link to navigate to the favorite page."
          aria-label="This is a link to navigate to the favorite page."
        >
          Favorites <i class="fas fa-chevron-right"></i>
        </a>
        <a
          [routerLink]="links[3_3]"
          class="list-group-item"
          title="This is a link to navigate to the purchased item page."
          aria-label="This is a link to navigate to the purchased item page."
        >
          Purchase History <i class="fas fa-chevron-right"></i>
        </a>
      </ul>
    </div>

    <div class="menu-area">
      <div class="_ttl">Others</div>
      <ul class="list-group">
        <a
          (click)="navigateToCampaignHandler($event)"
          class="list-group-item"
          title="This is a link to navigate to the external campaign page."
          aria-label="This is a link to navigate to the external campaign page."
          href="{{
            envView.production
              ? 'https://nuxt-web-app-testing.netlify.app/'
              : 'https://nuxt-web-app-testing.netlify.app/'
          }}"
        >
          Campaigns <i class="fas fa-chevron-right"></i>
        </a>
        <a
          (click)="navigateToFaqHandler($event)"
          class="list-group-item"
          title="This is a link to navigate to the external FAQ page."
          aria-label="This is a link to navigate to the external FAQ page."
          href="{{
            envView.production
              ? 'https://github.com/suema0331/My-Typescript-Express-Mocha-with-Swagger'
              : 'https://github.com/suema0331/My-Typescript-Express-Mocha-with-Swagger'
          }}"
        >
          FAQ <i class="fas fa-chevron-right"></i>
        </a>
        <a
          (click)="navigateToTermsHandler($event)"
          class="list-group-item"
          title="This is a link to navigate to the external compliance page."
          aria-label="This is a link to navigate to the external compliance page."
          href="{{
            envView.production
              ? 'https://www.linkedin.com/in/haruno-suematsu-b20a03235/'
              : 'https://www.linkedin.com/in/haruno-suematsu-b20a03235/'
          }}"
        >
          Compliance <i class="fas fa-chevron-right"></i>
        </a>
        <a
          (click)="navigateToPolicyHandler($event)"
          class="list-group-item"
          title="This is a link to navigate to the external privacy policy page."
          aria-label="This is a link to navigate to the external privacy policy page."
          href="{{
            envView.production
              ? 'https://haruno-suematsu.netlify.app/'
              : 'https://haruno-suematsu.netlify.app/'
          }}"
        >
          Privacy Policy <i class="fas fa-chevron-right"></i>
        </a>
      </ul>
    </div>
  </div>
</div>
