@import 'variables';

.product-detail {
  background: #f2f2f2;
  padding-bottom: 200px;

  .detail-area {
    background: #fcfcfc;
    padding: 16px 16px 0;
    margin-bottom: 12px;

    ._ttl {
      font-weight: bold;
      font-size: 16px;
      margin-bottom: 8px;
    }

    ._detail {
      ._row {
        display: flex;
        padding: 16px 0;
        justify-content: left;

        &:not(:last-of-type) {
          border-bottom: #d1d1d1 1px dotted;
        }

        ._key {
          color: #717171;
          font-size: 14px;
          width: 70px;
          margin: auto 0;
        }

        ._value {
          color: #2e2621;
          font-size: 16px;
          width: 260px;
          margin-left: 12px;
        }
      }
    }
  }

  .header-area {
    position: fixed;
    z-index: 999;
    top: 0;
    width: 100%;

    @media screen and (min-width: 600px) {
      max-width: 600px;
      margin: 0 auto;
    }

    ._inner {
      ._ttl {
        margin-top: 3px;
        display: inline-block;
      }

      padding: 16px;
      background: #fcfcfc;
      position: relative;
      text-align: center;
      font-weight: bold;
      font-size: 16px;
      box-shadow: 0 2px 6px #90867f1f;

      button {
        position: absolute;
        right: 16px;
        padding: 0;
        border: none;
        background: none;

        img {
          width: 24px;
        }
      }
    }
  }

  .img-area {
    position: relative;

    @media screen and (min-width: 600px) {
      max-width: 70%;
      margin: 0 auto;
    }

    ._top-img {
      width: 100%;
      position: relative;
      display: inline-block;

      &.stockout {
        position: absolute;
        left: 0;
        z-index: 10;
      }
    }

    &::after {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      box-shadow: inset 0 -10px 40px rgb(255 255 255 / 90%);
    }

    ._close {
      width: 54px;
      position: absolute;
      top: 12px;
      right: 12px;
      cursor: pointer;
      z-index: 100;
      border: none;
      background: none;

      @media screen and (min-width: 600px) {
        width: 62px;
      }

      ._img {
        width: 100%;
      }
    }

    ._fav {
      width: 60px;
      position: absolute;
      bottom: 12px;
      right: 12px;
      cursor: pointer;
      z-index: 100;

      @media screen and (min-width: 600px) {
        width: 72px;
      }
    }

    ._note {
      font-size: 14px;
      position: absolute;
      left: 8px;
      bottom: 5px;
      z-index: 100;
      color: #fff;

      @media screen and (min-width: 600px) {
        font-size: 16px;
      }
    }
  }

  .scroll-img-area {
    background: #f2f2f2;

    @media screen and (min-width: 600px) {
      max-width: 70%;
      margin: 0 auto;
    }

    ._scroll-area {
      overflow: hidden;
      overflow-x: auto;
      white-space: nowrap;
      -webkit-overflow-scrolling: touch;

      ._scroll-imgs {
        display: inline-block;
        position: relative;
        padding: 8px;
        height: 72px;
        cursor: pointer;

        img {
          height: 100%;
          border-radius: 8px;
          margin-right: 8px;

          &.selected {
            border: $shop_theme_color 4px solid;
          }
        }
      }
    }
  }

  .info-area {
    padding: 8px 16px 12px;
    background: #fcfcfc;
    margin-bottom: 12px;

    ._name {
      color: #2e2621;
      font-size: 18px;
      font-weight: bold;
      word-break: break-word;
    }

    ._tags {
      ._tag {
        font-size: 14px;
        font-weight: bold;
        color: #fff;
        background: #dc1125;
        padding: 2px 4px;
        margin-right: 8px;
      }
    }

    ._estimation {
      ._ttl {
        color: #717171;
        font-size: 16px;
      }

      ._discount-tag {
        ._tag {
          color: #dc1125;
          font-size: 14px;
          font-weight: bold;
          background: rgb(255 245 0 / 93%);
          padding: 2px 4px;
        }
      }

      ._price {
        color: #e50721;
        font-size: 26px;
        font-weight: bold;
        margin-right: 4px;

        ._tax {
          color: #717171;
          font-size: 16px;
          font-weight: normal;
        }
      }
    }
  }

  .cart-area {
    position: fixed;
    bottom: 0;
    padding: 16px;
    width: 100%;
    background: #fcfcfc;
    box-shadow: #90867f1f 0 -2px 6px;
    z-index: 999;

    @media screen and (min-width: 600px) {
      max-width: 600px;
      margin: 0 auto;
    }

    .constraint-tooltip {
      color: #fff;
      background: #2e2621;
      top: -68px;
      position: absolute;
      right: 14px;
      padding: 12px;
      line-height: 1.4;
      font-size: 16px;
      width: 188px;
      z-index: 9999;
      border-radius: 8px;
      box-shadow: 0 8px 24px #b5b5b580;

      &::after {
        z-index: 10000;
        content: '';
        position: absolute;
        right: 0;
        bottom: -12px;
        left: 83px;
        width: 0;
        height: 0;
        margin: auto;
        border-style: solid;
        border-color: #2e2621 transparent transparent;
        border-width: 13px 13px 0;
      }

      /* Safari and Chrome */
      animation: fadeOutAnimation 0s ease-in 1s forwards;
    }

    .btn_group {
      display: flex;
      justify-content: space-between;

      a,
      button {
        display: block;
        padding: 16px 0;
        border: none;
        background: $shop_theme_color;
        cursor: pointer;
      }

      ._cart {
        margin-right: 15px;

        ._icon-btn {
          border-radius: 50%;
          padding: 15px 17px;

          img {
            width: 26px;
          }
        }

        .badge {
          position: absolute;
          font-size: 14px;
          margin-top: -4.3em;
          margin-left: 2.5rem;
          padding: 6px 9px;
          font-weight: bolder;
          background: #2e2621;
        }
      }

      ._add-cart {
        position: relative;
        border-radius: 47px;
        font-size: 16px;
        font-weight: bold;
        color: #fcfcfc;
        padding: 16px 42px;
        width: 100%;

        &.isCartClicked {
          flex-grow: 1;
          display: flex;
          font-size: 20px;
          margin-left: 3px;
          padding: 13px 23px;
          width: 100%;

          .fa-minus {
            margin: auto auto auto 0;
          }

          .fa-plus {
            margin: auto 0 auto auto;
          }
        }

        &.stockout {
          background: #d8d8d8;
          flex-grow: 1;
        }

        &.overConstraintMax {
          flex-grow: 1;

          .fa-plus {
            opacity: 0.35;
          }
        }

        i {
          margin-right: 8px;
          width: 26px;
          height: 26px;
          background: #fcfcfc;
          border-radius: 50%;
          text-align: center;
          line-height: 27px;
          cursor: pointer;
          color: $shop_theme_color;
        }
      }
    }
  }
}

@keyframes r1 {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(180deg);
  }
}

@keyframes fadeOutAnimation {
  to {
    width: 0;
    height: 0;
    overflow: hidden;
    display: none;
    z-index: 0;
  }
}
@keyframes fadeOutAnimation {
  to {
    width: 0;
    height: 0;
    visibility: hidden;
    display: none;
    z-index: 0;
  }
}
