<div class="search">
  <ais-instantsearch [config]="config">
    <div class="search-header">
      <a
        class="_back"
        (click)="backToTopHandler()"
        title="This is a button to navigate to the top page."
      >
        <i class="fas fa-chevron-left fa-lg _back"></i>
      </a>
      <ais-search-box
        placeholder="Search for products..."
        submitTitle="Go"
        resetTitle="Clear"
        [showLoadingIndicator]="true"
        showMoreLabel="See more"
      ></ais-search-box>
    </div>

    <div class="search-result-area">
      <div class="result-area">
        <div class="_ttl">Results</div>
        <ais-hits>
          <ng-template let-hits="hits">
            <div class="card-products-area row row-cols-3 row-cols-md-3 g-3">
              <ng-container *ngFor="let hit of hits; index as i">
                <app-product-card
                  [storeProduct]="hit"
                  (clickPlusHandler)="clickPlusHandler($event)"
                  (clickMinusHandler)="clickMinusHandler($event)"
                ></app-product-card>
              </ng-container>
            </div>
          </ng-template>
        </ais-hits>
      </div>
    </div>
  </ais-instantsearch>
  <ng-container>
    <div class="cart-area" *ngIf="cartPriceInfo.numOfStoreProducts">
      <app-cart-summary-btn
        [cartPriceInfo]="cartPriceInfo"
      ></app-cart-summary-btn>
    </div>
  </ng-container>
  <app-common-footer></app-common-footer>
</div>
