@import 'variables';

.top-header {
  position: relative;
  display: flex;
  justify-content: space-between;
  border-bottom: #90867f1f 1px solid;
  padding: 8px 16px;
  vertical-align: center;

  ._logo-area {
    line-height: 2.5;
    cursor: pointer;

    ._logo {
      width: 28px;
      height: 28px;
      margin: 0 5px 0 0;
    }

    ._name {
      font-size: 14px;
    }
  }

  ._search {
    position: relative;

    ._button-area {
      display: inline-block;
      padding: 8px 60px 8px 12px;
      border-radius: 18px;
      background: #eaeaea;
      font-size: 14px;
      color: #b7b7b7;
      font-weight: normal;
      cursor: pointer;

      @media screen and (min-width: 540px) {
        padding: 8px 180px 8px 18px;
      }

      i {
        font-size: 15px;
        margin-right: 4px;
        color: #b7b7b7;
      }
    }
  }

  ._logout {
    font-size: 14px;
    font-weight: bold;
    margin: auto 0;
    color: $shop_theme_color;
    border: none;
    background: none;
  }

  ._menu {
    width: 28px;
    margin: auto 0 auto 8px;
    color: #2e2621;
    cursor: pointer;
    border: none;
    background: none;
  }
}

.store-message-area {
  background: #fdecef;
  color: #e50721;
  text-align: center;
  padding: 16px;

  ._notice1 {
    font-weight: bold;
    margin-bottom: 4px;
  }

  ._notice2 {
    font-size: 14px;
  }
}

.delivery-message-area {
  background: #fff4ea;
  color: #d15f00;
  border-radius: 3px;
  padding: 16px;
  text-align: center;
  font-size: 14px;
  margin: 16px;
}

.shop-top {
  img {
    cursor: pointer;
    width: 100%;
  }

  ._store {
    background: #f2f2f2;
    padding-top: 8px;
    position: relative;

    ._scroll-area {
      .top-carousel-area {
        img {
          width: 100%;
        }
      }
    }

    ._search {
      display: inline-block;
      position: absolute;
      bottom: 33px;
      left: 10%;
      text-align: center;
      background: rgb(58 171 210 / 50%);
      color: #fff;
      border-radius: 28px;
      border: none;
      font-size: 16px;
      font-weight: bold;
      padding: 16px 20px 16px 22px;
      cursor: pointer;

      @media screen and (min-width: 321px) {
        padding: 16px 35px 16px 44px;
      }

      @media screen and (min-width: 425px) {
        left: 16%;
      }

      @media screen and (min-width: 540px) {
        left: 27%;
      }
    }
  }

  .recommend-area {
    margin: 24px 12px 12px;

    /* 374px以下 */
    @media screen and (max-width: 374px) {
      margin: 24px 5px 16px;
    }

    ._ttl {
      font-size: 16px;
      font-weight: bold;
      margin-bottom: 12px;
    }
  }

  .tab-btn-area {
    background: #f2f2f2;
    padding: 32px 10px;
    display: flex;
    justify-content: space-around;

    @media screen and (min-width: 540px) {
      padding: 32px;
    }

    a {
      display: flex;
      background: #fcfcfc;
      border: #eae5e2 1px solid;
      padding: 16px 12px;
      font-size: 14px;
      border-radius: 8px;
      box-shadow: 0 1px 4px #90867f3d;
      cursor: pointer;
      text-align: center;

      @media screen and (min-width: 540px) {
        padding: 16px 42px;
      }

      ._img {
        // width: 20px;
        width: 35px;
        height: 35px;
        margin: auto 5px auto 0;
      }

      ._note {
        font-weight: normal;
        font-size: 12px;
      }
    }
  }

  .signup-area {
    position: fixed;
    z-index: 100;
    bottom: 0;
    padding: 16px;
    width: 100%;
    background: rgb(252 252 252 / 90%);

    @media screen and (min-width: 600px) {
      max-width: 600px;
      margin: 0 auto;
    }

    .btn_group {
      margin: auto 20px;

      a {
        width: 100%;
        padding: 16px 0;
        font-size: 16px;
        cursor: pointer;
      }

      .submit {
        font-weight: bold;
        color: #fff;
        background: $shop_theme_color;
        margin: 0 auto 16px;
      }

      ._login-area {
        text-align: center;
        font-size: 14px;

        ._login {
          color: #0080de;
        }
      }
    }
  }
}
