@import "variables";

.top-header {
  &.isScrollDown{
    position: fixed;
    top: 0;
    z-index: 999;
    background: #FCFCFC;
    width: 100%;
    @media screen and (min-width:600px) {
      /*　画面サイズ 600 px以上　*/
        max-width: 600px;
        margin: 0 auto;
    }
  }
  position: relative;
  display: flex;
  justify-content: space-between;
  border-bottom: #90867F1F 1px solid;
  //box-shadow: 0px 2px 6px #90867f1f;
  padding: 8px 16px ;
  vertical-align: center;
  ._logo-area{
    line-height: 2.5;
    cursor: pointer;
    @media screen and (min-width:321px) {
      // margin-right: 25px;
    }
    ._logo {
      width: 28px;
      height: 28px;
      margin: 0 8px 0 0;
    }
    ._name{
      font-size: 14px;
    }
  }

  ._search{
    position: relative;
    ._button-area{
      padding: 8px 60px 8px 12px;
      border-radius: 18px;
      background: #EAEAEA;
      font-size: 14px;
      color: #B7B7B7;
      font-weight: normal;

      @media screen and (min-width:540px) {
        /*　画面サイズが540px以上　*/
        padding: 8px 180px 8px 18px;
      }

      i {
        font-size: 15px;
        margin-right: 4px;
        color: #B7B7B7;
      }
    }
  }
  ._logout{
    font-size: 14px;
    font-weight: bold;
    margin: auto 0;
    color: $shop_theme_color;
  }
  ._menu{
    width: 28px;
    margin-left: 8px;
    margin: auto 0;
    cursor: pointer;
  }
}

.store-message-area{
  background: #FDECEF;
  color: #E50721;
  text-align: center;
  padding: 16px;
  ._notice1{
    font-weight: bold;
    margin-bottom: 4px;
  }
  ._notice2{
    font-size: 14px;
  }
}

.delivery-message-area{
  background: #FFF4EA;
  color: #D15F00;
  border-radius: 3px;
  padding: 16px;
  text-align: center;
  font-size: 14px;
  margin: 16px;
}

.shop-top{
  ._store {
    background: #F2F2F2;
    padding-top: 8px;
    position: relative;
    img {
      width: 100%;
    }
    button {
      display: block;
      position: absolute;
      bottom: 16px;
      // left: 52px;
      left: 10%;
      text-align: center;
      background: rgba(58,171,210,0.5);
      color: #ffffff;
      border-radius: 28px;
      border: none;
      font-size: 16px;
      font-weight: bold;
      padding: 16px 20px 16px 22px;
      cursor: pointer;

      @media screen and (min-width:321px) {
        padding: 16px 35px 16px 44px;
      }

      @media screen and (min-width:425px) {
        /*　画面サイズが540px以上　*/
        left: 16%;
      }

      @media screen and (min-width:540px) {
        /*　画面サイズが540px以上　*/
        left: 27%;
      }

    }
  }

  .more-area{
    padding: 12px 0 0;
    ._more{
      color: #0080DE;
      font-size: 14px;
      text-align: center;
      cursor: pointer;
      display: block;
      i{
        vertical-align: middle;
      }
    }
  }
  .recommend-area{
    margin: 24px 12px 12px;

    /* 374px以下 */
    @media screen and (max-width: 374px) {
      margin: 24px 5px 16px;
    }
    ._ttl{
      font-size: 16px;
      font-weight: bold;
      margin-bottom: 12px;
    }
  }
  .tab-btn-area{
    background: #F2F2F2;
    padding: 32px 10px;
    display: flex;
    //justify-content: space-between;
    justify-content: space-around;

    @media screen and (min-width:540px) {
      /*　画面サイズが540px以上　*/
      padding: 32px;
    }

    button{
      display: flex;
      background: #FCFCFC;
      border: #EAE5E2 1px solid;
      padding: 16px 12px;
      font-size: 14px;
      border-radius: 8px;
      box-shadow: 0px 1px 4px #90867F3D;
      cursor: pointer;

      @media screen and (min-width:540px) {
        /*　画面サイズが540px以上　*/
        padding: 16px 42px;
      }

      img{
        width: 20px;
      }
    }
  }
  .category-area{
    background: #FCFCFC;
    font-size: 16px;
    font-weight: bold;
    padding: 16px 0 16px 16px;
    border: #EAE5E2 1px solid;
  }
  .bottom-menu-area{
    padding: 32px 0 200px;
    background: #F2F2F2;
    .list-group-item{
      background: #FCFCFC;
      padding: 20px 16px;
      font-size: 16px;
      border-bottom: #EAE5E2 1px solid;
      border-radius: 0;
      position: relative;
      cursor: pointer;
      i {
        position: absolute;
        right: 16px;
      }
    }
  }
  .signup-area{
    position: fixed;
    z-index: 100;
    bottom: 0;
    padding: 16px;
    width: 100%;
    background: rgba(252,252,252,0.9);

    @media screen and (min-width:600px) {
      /*　画面サイズ 600 px以上　*/
      max-width: 600px;
      margin: 0 auto;
    }

    .btn_group{
      margin: auto 20px;
      button {
        width: 100%;
        padding: 16px 0px;
        font-size: 16px;
        cursor: pointer;
      }
      .submit {
        font-weight: bold;
        color: #fff;
        background: $shop_theme_color;
        margin: 0px auto 16px;
      }
      ._login-area{
        text-align: center;
        font-size: 14px;
        ._login{
          color: #0080DE;
        }
      }
    }
  }

  .cart-area {
    position: fixed;
    bottom: 0;
    padding: 16px;
    margin: 0px auto 0px;
    width: 100%;
    z-index: 100;

    @media screen and (min-width:600px) {
      /*　画面サイズ 600 px以上　*/
      max-width: 600px;
      margin: 0 auto;
    }
    .btn_group{
      .submit {
        width: 100%;
        display: flex;
        align-items: flex-end;
        color: #fff;
        background: $shop_theme_color;
        img{
          height: 24px;
          margin: auto 8px 8px 0;
        }
        ._quantity{
          font-size: 20px;
          font-weight: bold;
          margin: auto 2px 4px;
        }
        ._ten{
          font-size: 12px;
          margin: auto 0 4px;
        }
        ._price{
          font-size: 26px;
          font-weight: bold;
          margin: auto 2px auto auto;
        }
        ._tax-in{
          font-size: 12px;
          margin: auto 0 7px;
        }
      }
    }
  }
}
