@import 'variables';

.login {
  margin: 0 16px;

  .btn_group {
    button {
      width: 100%;
      padding: 16px 0;
      font-size: 16px;
    }

    .submit {
      font-weight: bold;
      color: #fff;
      background: linear-gradient(to left, $shop_theme_color 50%, #017098);
      background: linear-gradient(to right, $shop_theme_color 50%, #017098);
      margin: 32px auto;
    }

    ._signup-area {
      text-align: center;
      font-size: 14px;

      ._signup {
        color: #0080de;
      }
    }
  }
}

.form-group {
  margin-bottom: 24px;

  .form-label {
    font-size: 14px;
    font-weight: bold;
    color: #2e2621;
    margin-bottom: 6px;
  }

  ._input-form {
    position: relative;

    ._display {
      color: #0080de;
      font-size: 14px;
      position: absolute;
      right: 16px;
      top: 13px;
      border: none;
      background: transparent;
    }
  }
}
