<app-common-header headerTitle="Log In" backUrl="/shop-top"></app-common-header>

<div class="login">
  <form [formGroup]="form">
    <div class="errorToast" *ngIf="isError">
      {{ errorMessage }}
    </div>
    <div class="form-group">
      <label for="form_email" class="form-label">Email</label>
      <mdb-form-control class="_input-form">
        <input
          formControlName="form_email"
          id="form_email"
          placeholder="**********@example.com"
          (change)="validateMailError()"
          [class._inputFormError]="isMailError"
          class="form-control"
          mdbInput
          type="text"
        />
      </mdb-form-control>
      <div *ngIf="isMailError" class="_error">{{ mailErrorMessage }}</div>
    </div>

    <div class="form-group">
      <label for="form_password" class="form-label">Password</label>
      <mdb-form-control class="_input-form">
        <input
          formControlName="form_password"
          id="form_password"
          placeholder="Password"
          [type]="hide ? 'password' : 'text'"
          (change)="validatePasswordError()"
          [class._inputFormError]="isPasswordError"
          class="form-control"
          mdbInput
        />
        <button
          class="_display"
          *ngIf="hide"
          (click)="hide = !hide"
          title="This is a button to show password characters"
        >
          display
        </button>
        <button
          (click)="hide = !hide"
          *ngIf="!hide"
          class="_display"
          title="This is a button to hide password characters"
        >
          hide
        </button>
      </mdb-form-control>
      <div *ngIf="isPasswordError" class="_error">
        {{ passwordErrorMessage }}
      </div>
    </div>

    <div class="btn_group">
      <button
        (click)="formOnClickLoginHandler()"
        data-test="login-btn"
        class="btn btn-rounded submit"
        [disabled]="isDisabled"
        title="This is a button to execute login."
      >
        Log In
      </button>
      <div class="_signup-area">
        Don't have an account?
        <a
          class="_signup"
          [routerLink]="links[1_5]"
          title="This is a link to navigate to the signup page."
          >Register</a
        >
      </div>
    </div>
  </form>
</div>
