@import 'variables';

.pwa-notice-area {
  position: absolute;
  position: fixed;
  bottom: 0;
  right: 0;
  width: 60%;
  z-index: 1000;
  cursor: pointer;

  &._isWide {
    width: 60%;
  }

  @media screen and (min-width: 600px) {
    max-width: 600px;
    margin: 0 auto;
  }

  ._message {
    background: $normal_notice_color;
    color: $normal_notice_font_color;
    box-shadow: 0 8px 24px $toast_shadow_color;
  }

  .ios-menu {
    width: 14px;
  }
}
