/* login & signup header */
.header {
  position: relative;

  ._back {
    position: absolute;
    left: 24px;
  }

  text-align: center;
  font-weight: bold;
  font-size: 16px;
  padding: 16px;
  margin-bottom: 32px;
  border-bottom: #90867f1f 1px solid;
  box-shadow: 0 2px 6px #90867f1f;
}
