/* login & signup header */
@import 'variables';

.header {
  position: relative;

  ._back {
    position: absolute;
    left: 24px;
    color: $base_font_color;
    border: none;
    background: none;
  }

  text-align: center;
  font-weight: bold;
  font-size: 16px;
  padding: 16px;
  margin-bottom: 32px;
  border-bottom: $header_shadow_color 1px solid;
  box-shadow: 0 2px 6px $header_shadow_color;
}
