<div class="not-found">
  <div class="_img">
    <img src="assets/404_img_nopage@2x.png" alt="404" />
  </div>
  <div class="_message">The page you were looking for could not be found.</div>

  <div class="_note">
    The address you entered may be incorrect or the page may have moved.
  </div>
  <div class="btn_group">
    <a
      [routerLink]="links[1_1]"
      title="This is a link to navigate to the top page."
      aria-label="This is a link to navigate to the top page."
      class="btn btn-rounded submit"
    >
      To Shop Top Page
    </a>
  </div>
</div>
