@import 'variables';

.not-found {
  margin: 120px 16px 0;

  ._img {
    margin: 0 120px 24px;
    text-align: center;

    img {
      width: 100%;
    }
  }

  ._message {
    font-size: 18px;
    text-align: center;
    margin-bottom: 8px;
    font-weight: bold;
  }

  ._note {
    text-align: center;
    font-size: 16px;
  }

  .btn_group {
    a {
      width: 100%;
      padding: 16px 0;
      font-size: 16px;
    }

    .submit {
      font-weight: bold;
      color: $white_color;
      background: linear-gradient(
        to left,
        $shop_theme_color 50%,
        $bule_submit_button_color
      );
      background: linear-gradient(
        to right,
        $shop_theme_color 50%,
        $bule_submit_button_color
      );
      margin: 56px auto 32px;
    }
  }
}
