<div class="confirm-modal">
  <div class="modal-body">
    <div class="_message">
      Would you like to confirm your order?<br />This operation cannot be
      undone.
    </div>
    <div class="btn_group">
      <button
        (click)="clickYesHandler()"
        class="btn btn-rounded submit"
        title="This is a button to confirm your order."
      >
        YES
      </button>
      <button
        (click)="clickNoHandler()"
        class="btn btn-rounded cancel"
        title="This is a button to cancel your order."
      >
        CANCEL
      </button>
    </div>
  </div>
</div>
