/* You can add global styles to this file, and also import other style files */
/* stylelint-disable */
@import '@fortawesome/fontawesome-free/scss/fontawesome.scss';
@import '@fortawesome/fontawesome-free/scss/solid.scss';
@import '@fortawesome/fontawesome-free/scss/regular.scss';
@import '@fortawesome/fontawesome-free/scss/brands.scss';

@import 'mdb-angular-ui-kit/assets/scss/mdb.scss';

@import 'algolia';
@import 'carousel';
@import 'header';
@import 'input';
@import 'stepper';
@import 'variables';

body {
  color: $base_font_color;
  font-family: $base_font;
}

@media screen and (min-width: 600px) {
  html {
    max-width: 600px;
    margin: 0 auto;
    background-color: $base_white_color;
  }
}

/* .modal-open class is automatically added to the background body when the modal opens, and !important is needed to remove its margin */
.modal-open {
  padding: 0 !important;
}

.container-fluid {
  padding: 0;
}

.card-products-area {
  &.row > * {
    padding: 0;
  }
}
