@import 'variables';

.cart-summary-btn {
  position: fixed;
  bottom: 0;
  padding: 16px;
  margin: 0 auto;
  width: 100%;
  z-index: 100;
  @media screen and (min-width: 600px) {
    max-width: 600px;
    margin: 0 auto;
  }

  .btn_group {
    .submit {
      width: 100%;
      display: flex;
      align-items: flex-end;
      justify-content: space-between;
      color: $white_color;
      background: $shop_theme_color;
      padding: 8px 24px;
      text-transform: none;

      .cart-number {
        display: inline-block;
        margin: auto 0 3px;

        img {
          height: 24px;
          margin: auto 8px 8px 0;
        }

        ._quantity {
          font-size: 28px;
          font-weight: bold;
          margin: auto 3px 0 0;
        }

        ._ten {
          font-size: 18px;
          margin: auto 0 4px;
        }
      }

      .prices-area {
        display: flex;
        flex-direction: column;
        text-align: right;

        ._price {
          font-size: 26px;
          font-weight: bold;
          line-height: 1.2;
          display: inline-block;

          ._tax {
            font-size: 12px;
            margin: auto 0 auto 2px;
            font-weight: normal;
            display: inline-block;
          }
        }

        ._tax-price {
          font-size: 14px;
          font-weight: bold;
          line-height: 1.1;
          display: inline-block;

          ._tax {
            font-size: 10px;
            margin: auto 0;
            font-weight: normal;
            display: inline-block;
          }
        }
      }
    }
  }
}
