<div class="cart-summary-btn">
  <div class="btn_group">
    <button
      class="btn btn-rounded submit"
      data-test="cart-price-info-button"
      (click)="cartBtnHandler()"
    >
      <span class="cart-number">
        <img src="./assets/common_icon_cart@2x.png" alt="common_icon_cart">
        <span class="_quantity">{{cartPriceInfo.numOfStoreProducts}}</span>
        <span class="_ten"> items</span>
      </span>
      <span class="prices-area">
        <span class="_price">
          <span>{{cartPriceInfo.totalProductPriceWithoutTax | currency : 'JPY': true}}</span>
          <span class="_tax">/without tax</span>
        </span>
        <span class="_tax-price">{{cartPriceInfo.totalProductPriceWithTax | currency : 'JPY': true}}
          <span class="_tax">/with tax</span>
        </span>
      </span>
    </button>
  </div>
</div>

